<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inc.vr.corp.app.quranwidget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="ice_cream_sandwich_mr1"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity android:name=".InfoActivity" android:exported="true"></activity>
        <activity android:name=".Share_Activity" android:exported="true"/>
        <activity android:name=".Tes"   android:exported="true"/>

        <receiver android:name=".widget.QuranWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quran_widget_info" />
        </receiver>

        <activity android:name=".MasjidActivity"  android:exported="true"/>
        <activity android:name=".DetailActivity"  android:exported="true"/>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC5WsyNlO6Vr7jwae85SMkcsSImbY0d2wY" />
    </application>

</manifest>